{% extends 'base.html.twig' %}
{% block title %}Type de film{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block body %}
    <h1 style="text-align: center">Films de type {{ films[0].tag }}</h1>
    <div class="row">
        {% for film in films %}
            <div class="card" id="filmbox">
                <div style="max-height: 25px; max-width: 390px" class="card-title">
                    <h5 class="card-title">{{ film.nom }}</h5>
                </div>
                <a href="{{ path('film_seance',{'id': film.id}) }}" style="max-height: 300px; min-width:300px; margin: auto">
                    <img style="max-height: inherit; max-width: inherit" src="{{ asset('/images/' ~ film.nom_image) }}">
                </a>
                <br>
                <div>
                    <a id="tags" class="badge badge-pill badge-success">{{ film.tag }}</a>
                </div>
                <br>
                <a href="{{ path('film_description',{'nom': film.nom, 'id': film.id}) }}" class="btn btn-warning" style="max-width:50%; margin: auto">Description</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}